$space-mono-font-path: "../fonts"
	
@font-face
	src: url($space-mono-font-path + "/SpaceMono-Bold.woff") format("woff"), url($space-mono-font-path + "/SpaceMono-Bold.woff2") format("woff2")
	font-family: "Space Mono"
	font-weight: 700
	font-display: fallback

@font-face
	src: url($space-mono-font-path + "/SpaceMono-Regular.woff") format("woff"), url($space-mono-font-path + "/SpaceMono-Regular.woff2") format("woff2")
	font-family: "Space Mono"
	font-weight: 400
	font-display: fallback

@font-face
	src: url($space-mono-font-path + "/Montserrat-Medium.woff") format("woff"), url($space-mono-font-path + "/Montserrat-Medium.woff2") format("woff2")
	font-family: "Montserrat"
	font-weight: 500
	font-display: fallback

@font-face
	src: url($space-mono-font-path + "/Inconsolata-Bold.woff") format("woff"), url($space-mono-font-path + "/Inconsolata-Bold.woff2") format("woff2")
	font-family: "Inconsolata"
	font-weight: 700
	font-display: fallback