@use '../util' as u

// @media (min-width: 50em)
@include u.breakpoint(medium)
	.header
		margin-bottom: 12.5rem
	.main
		margin-bottom: 12.5rem
		&__img
			max-width: 33.6875rem
			max-height: 25.875rem
			margin-bottom: 0
			transform: translateY(-1.5625rem)
		&__container
			width: 100%
			display: flex
			flex-direction: row
		&__title
			// font-size: 64px
			margin-bottom: 2.25rem
		&__desc
			max-width: 23.75rem
			// font-size: 24px
			letter-spacing: -0.0425rem
			line-height: 1.4
			color: var(--gray2)
			margin-bottom: 4rem
		&--right
			display: flex
			flex-direction: column
		&__link
			margin-bottom: 0
	// .footer__text
	// 	font-size: clamp(0.875rem, 0.875rem + 1vw, 1.2rem)

// @include u.breakpoint(large)
// 	.main
// 		&__title
// 			font-size: clamp(2rem, 0.875rem + 1.7vw, 2rem)
// 		&__desc
// 			font-size: clamp(2rem, 0.875rem + 1.7vw, 2rem)