.footer
	text-align: center
	margin-bottom: 1.5rem
	&__text
		color: var(--gray3)
		font-family: 'Montserrat', sans-serif
		font-weight: 500
		font-size: 0.875rem
	&__link--user
		font-weight: 700
		text-decoration: underline