.main
	&__container
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
	&__img
		max-width: 17.9375rem
		max-height: 14.875rem
		&:not(:last-child)
			margin-bottom: 3.75rem
	&__img img
		width: 100%
		margin-bottom: 3.75rem
	&__title
		color: var(--gray1)
		// font-size: clamp(2rem, 0.875rem + 1.7vw, 2rem)
		font-size: clamp(1.5rem, 1.5rem + 2.5vw, 4rem)
		margin-bottom: 1.875rem
		line-height: 1.49
		letter-spacing: -0.105rem
		font-weight: 700
		font-family: 'Space Mono', monospace
		max-inline-size: 36.625rem
	&__desc
		color: var(--gray1)
		font-family: 'Space Mono', monospace
		font-size: clamp(0.875rem, 0.3rem + 1vw, 2rem)
		line-height: 1.3
		margin-bottom: 4.125rem
		max-inline-size: 23.125rem
	&__link
		color: var(--white)
		text-transform: uppercase
		font-family: 'Space Mono', monospace
		font-size: 0.875rem
		font-weight: 700
		letter-spacing: -0.0306rem
		margin-bottom: 7.125rem