
*,
*::after,
*::before
	box-sizing: border-box

a
	text-decoration: none

.page
	font-size: 100%

.page,
.page__body
	height: 100vh

.page__body
	padding: 1.25rem 1.5rem 1.5rem
	font-family: 'Space Mono', monospace

.container
	max-width: 75rem
	margin: 0 auto

.btn
	display: inline-block
	width: max-content
	padding: 1.5rem 2.6875rem
	background-color: var(--gray1)
	border: none
	text-align: center
	text-decoration: none
	transition: 0.3s
	border-radius: 3px
	&:hover, &:focus-visible
		opacity: 0.8
	&:active
		transform: scale(0.80)
		

.link
	color: var(--gray3)
	transition: color 200ms ease-in-out
	&:hover, &:focus-visible
		color: var(--link-hover)